<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos_TrackinSoft.Properties.Settings.Setting"
            connectionString="Dsn=demoODBC_1;uid=sistema;pwd=sistema"
            providerName="System.Data.Odbc" />
        <add name="AccesoDatos_TrackinSoft.Properties.Settings.conexionAuxiliarMaster"
            connectionString="Dsn=demoODBC_2;uid=sistema;pwd=sistema"
            providerName="System.Data.Odbc" />
        <add name="AccesoDatos_TrackinSoft.Properties.Settings.conexionAuxiliarMaster2"
            connectionString="Dsn=demo_ODBCRemote;uid=sistema;pwd=sistema"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>