<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackingSoft_1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TrackingSoft_1._0.Properties.Settings.Seguimiento_ProyectosYPFB_AviacionConnectionString"
            connectionString="Dsn=demoODBC_1;uid=sistema;pwd=sistema"
            providerName="System.Data.Odbc" />
        <add name="TrackingSoft_1._0.Properties.Settings.Seguimiento_ProyectosYPFB_AviacionConnectionStringRemote"
            connectionString="Dsn=demo_ODBCRemote;uid=sistema;pwd=sistema"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <TrackingSoft_1._0.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Recordar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Estilo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="isLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </TrackingSoft_1._0.Properties.Settings>
    </userSettings>
</configuration>